/*Clear previous formatting to allow for granular control and set a background for the page.*/
*{
    padding: 0px;
    margin: 0px;
    background-color: plum;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
}

/*Make the header a flex box with two other flex boxes in it - one containing the headline name and the other a box to hold the navigation links. 
This is done to allow the navigation links to collapse under the portfolio title name.*/
header {
    display: flex;
    flex-direction: column;
    padding-top: 0%;
}

/*Formate the elements of the heard to be ascetically pleasing.*/
h1 {
    padding: 1%;
    margin: 0%;
    font-size: 125%;
    text-align: center;
}

nav {
    padding-left: 0;
    margin: 1%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.navLink{ 
    width: 100%;
    text-align: center;
    padding-top: 5%;
    color: black;
    font-size: 75%;
}

h3, #contactMe,footer{
    display: flex;
    justify-content: center;
    font-size:150%;
}

/*Create a stylized break to separate the header/navigation links from the main body of the webpage.*/
h3{
    background-color: silver;
    padding-top: 3%;
    margin-top: 2%;
    padding: 1%;
    font-size: 75%;
    text-align: center;
}

/*Create a series of flexboxes to help the "about me" elements so they will collapse or expand as the page changes size. */
.aboutMe{
    width: 100%;
    margin: 1%;  
}

/*Stylize the "About me" section of the page.*/
#title{
    min-width: 5%;
    text-align: left;
    padding-top: 5%;
}

#profilePic{
    max-width: 500px;
    width:100%;
    float:right;
    max-height: auto;
    padding: 2%;
}

.meParagraph{
    width: 50%;
    padding-top: 4%;
    text-align: justify;
    width: 100%;
    padding-left: 0%;
    padding-right: 0%;
    font-size: small;
}

/*Create a series of flexboxes to help the "works" elements so they will collapse or expand as the page changes size. */
.workSection, .boxPallet{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}

#workProducts{
    width: 100%;
    text-align: center;
    padding-top: 3%;
    padding-left: 30%;
}

/*Stylize the "Work" section of the page, where someone can view my future completed coding projects.*/
.workBox{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 5%;
    margin: 2%; 
    width: 40%;  
}

h4, .workImage{   
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 75%;  
    font-size: 45%;
}

#firstProject{
    padding-top: 5%;
    width: 100%;
}

/*Create flexboxes and stylize the "Contact me" section of the page.*/
.contactLinks {
    min-width: 100%;
    padding-right: 3%;
    margin: 1%;
    display: grid;
    place-items:center;
    
}

#email, #gitHub, #linkedIn {
    display: grid;
    place-items:center;
    text-align: center;
}

.contactImage{
    width: auto;
    height: 150px;
    padding-left: 1%;
}

.contactLink{
    font-size: 18px;
    color: black;
}

/*Create a hover tooltip that explains what clicking each "contact me" icon will link to.*/
.emailToolTip:hover::after, .githubToolTip:hover::after, .linkedInToolTip:hover::after{
    position:absolute;
    max-width: 100%;
    border: 1px black solid;
    background-color:black;
    padding: 1%;
    color: whitesmoke;
    font-size: 50%;
}

.emailToolTip:hover::after{
    content:"Click here to contact me by email.";
}

.githubToolTip:hover::after{
    content:"Click here to view my code repositories, including personal projects.";
}

.linkedInToolTip:hover::after{
    content:"Click here to connect via LinkedIn and to see my profile.";
}

/*Add media rules to reformat the webpage to respond to different user window sizes*/
@media screen and (min-width: 760px) {
    header{
        flex-direction: row;
        justify-content: space-between;
    }
    
    h1{
        font-size: 155%;        
    }
    
    nav{
        flex-direction: row;
        flex-wrap: wrap;
        width: 40%;
    }

    .navLink{       
        font-size: 80%;
        width: fit-content;
        padding: 3%;
    }

    h3{
        margin: 0%;
        font-size: 125%;
    }

    h2{
        align-items: center;
        font-size: 150%;
    }

    #profilePic{
        max-width: 500px;
    }

    .meParagraph{
        width: 40%;
        font-size: 150%;
    }

    #workProducts{
        width: 15%;
        text-align: center;
        align-items: center;
        font-size: 150%;
        margin: 4%;
    }

    .boxPallet{
        width:75%;
    }

    .workBox{
        width: 25%;
        padding: 0%;
        margin: 0%;
    }

    #firstProject img{
        width: 40%;
    }

    #firstProject h4{
        padding-right: 1%;
        padding-bottom: 5%;
    }
    
    #contactMe{
        padding-top: 5%;
    }
}
